{% extends 'common.twig' %}

{% block content %}
<div id="articlesDispl">
  <button type="button" class="modalBtn" data-toggle="modal" data-target="#exampleModal">
    + Add new article
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post">
          <div class="modal-header">
            <input  class="form-control" name="title" id="title" rows="8" cols="31" placeholder="Title" required></textarea>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea name="content" id="content" class="form-control" rows="8" cols="31" placeholder="Article content" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type='submit' >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% for key in result %}
      <div class="card border-primary mb-3" style="max-width: 70%;">
        <div class="card-header">{{ key.article_title }}</div>
        <div class="card-body">
          <p class="card-text"> {{ key.article_content }}</p>
          <a class="btn btn-secondary my-2 my-sm-0" type="submit" href='/dashboard/change/{{ key.user_name}}/{{ key.user_permission}}'>Edit</a>
          <a class="btn btn-secondary my-2 my-sm-0" type="submit" href='/dashboard/delete/article/{{key.article_id}}'>Delete</a>
          <p> {{ key.user_name }} - {{ key.article_date }}</p>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}
