{% extends 'common.twig' %}

{% block content %}
<p> bonsoir {{session.auth.user_name}}</p>
<div id="articlesDispl">
{% for key in result %}
      <div class="card border-primary mb-3" style="max-width: 70%;">
        <div class="card-header">{{ key.article_title }}</div>
        <div class="card-body">
          <p class="card-text">{{ key.article_content }}</p>
          <p> {{ key.author_id }} - {{ key.article_date }}</p>
        </div>
      </div>
  {% endfor %}
  </div>
{% endblock %}
